server:
  port: 8080
spring:
  main:
    web-application-type: reactive
  datasource:
    url: jdbc:sqlserver://eafinalproject2.database.windows.net:1433;database=authentication;user=tiendm@eafinalproject2;password=Finalproject1;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    hikari:
      maximumPoolSize: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect
  cloud:
    gateway:
      routes:
        - id: orderModule
          uri: lb://OrderService
          predicates:
            - Path= /orders/**, /carts/**
        - id: customerModule
          uri: lb://CustomerService
          predicates:
            - Path= /customers/**
        - id: productModule
          uri: lb://ProductService
          predicates:
            - Path= /products/**
application:
  paths:
    noAuthentication: GET./products$, GET./products/\d+$, GET./products/\d+\/reviews$
    requireAdmin: POST./products$, POST./products/\d+\/productItem$, PUT./products/\d+$, DELETE./products/\d+$
  security:
    jwt:
      secret-key: 404E635266C56A586E3272357538A82F413F4428472B4B6250D45367566B5970
      expiration: 86400000 # a day
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
